*{
  font-size: 1.15rem;
  text-align: center;
}
body{
  background-image: url('cafe.png');
  background-size: auto;
}
li{
  list-style: none;
}
#whole{
  background-color: #e299ae;
  min-height: 450px;
  width: 80%;
  margin: auto;
}
select{
  margin-right: 8%;
}
#le{
  font-size: 3rem;
  padding-top: 2rem;
}